body,
html,
#root,
.root,
main,
.container {
    height: 100%;
    background-color: #d3d3d3;
    margin: 0;
}

#body {
    height: 100%;
    /* overflow: hidden; */
    /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;
    /*removes default style*/
    display: flex;
    /*enables flex content for its children*/
    box-sizing: border-box;
}

.column {
    height: 100%;
    /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;
    width: 18%;
    /*places the left and right headers above the bottom content*/
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2>.sidebar {
    display: flex;
    flex-basis: calc(20% - 40px);
    flex-direction: column;
}

.grid2x2>.chart-content {
    display: flex;
    flex-basis: calc(80% - 40px);
    flex-direction: column;
}

.box {
    margin: 20px;
}

.grid2x2>div>div {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
}

ul,
li {
    margin-left: 0;
    padding-left: 0;
}

.sidebar {
    background-color: red;
}

.chart-content {
    background-color: orange;
}

.remove-margin {
    margin-left: 0;
    margin-right: 0;
}

#left .bottom {
    background-color: #30444b;
}

.Collapsible__trigger,
.Collapsible a {
    text-align: center;
    line-height: 1.5em;
}

.padding-right {
    padding-left: 0.5em;
}

.Collapsible__trigger:after {
    font-family: "FontAwesome";
    content: "\F107";
    color: #9faecb;
    transition: transform 300ms;
    float: right;
    margin-right: 0.5em;
    transform: rotate(90deg);
}

.is-open:after {
    transform: rotateZ(0deg);
}

#left {
    flex-shrink: 0;
    /*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
    flex-shrink: 0;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
}

// Navigation
ul,
li {
    list-style: none;
}

#left a {
    color: white;
}

.Collapsible {
    display: inline;
}

.bottom {
    flex-grow: 1;
    /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;
    /*adds scroll to this container*/
    width: 100%;
}

.top-left {
    background-color: #20a8d8;
}

.chart_styling {
    background: #ededed;
    border: 1px solid grey;
}

.line_chart,
.bar_chart,
.pie_chart,
.simple_chart,
.horizontal_chart,
.basic_chart {
    border-top: 1px solid grey;
    background: white;
    padding-top: 0.5em;
}

#right .container-fluid {
    background-color: #dddddd;
}

.top-right {
    background-color: blue;
}

#right {
    width: 100%;
}

.col {
    padding-top: 1em;
    padding-bottom: 1em;
}


/* Define the hover highlight color for the table row */

.hoverTable tr:hover {
    background-color: #f4f2f2;
}


/* Target the 2nd span inside the div
 with className table_usage */

.table_usage span:nth-of-type(2) {
    float: right;
    font-size: 0.75em;
    color: lightgrey;
}

.hoverTable thead tr {
    line-height: 2em;
}

button {
    cursor: pointer;
}

.card_bg {
    background-color: #f9f9fa;
    border-bottom: 1px solid #e1e6ef;
}

.card_bg_grey {
    background-color: #e7e7eb;
    border: 1px solid #c9ccd3;
}

.card_bg_body {
    background-color: #f9f9fa;
    border-right: 1px solid #c9ccd3;
    border-bottom: 1px solid #c9ccd3;
    border-left: 1px solid #c9ccd3;
}

.card_bg_body_reversed {
    background-color: #f9f9fa;
    border-right: 1px solid #c9ccd3;
    border-top: 1px solid #c9ccd3;
    border-left: 1px solid #c9ccd3;
}

.card_header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
}

.card_body {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

.card_body_nomargin {
    padding: 0.75rem 1.25rem;
}

@media screen and (max-width: 675px) {
    #body {
        display: inline-grid;
        width: 100%;
    }
    .column {
        width: 100%;
    }
}