body,
html,
#root,
.root,
main,
.container,
.full_page {
    height: 100%;
    width: 100%;
    background-color: #d3d3d3;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

#body {
    height: 100%;
    /* overflow: hidden; */
    /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;
    /*removes default style*/
    display: flex;
    /*enables flex content for its children*/
    box-sizing: border-box;
}

.logo {
    background-color: blue;
}

.header {
    background-color: red;
}

.content {
    background-color: #d3d3d3;
}


/* Side Navigation  */

.navigation {
    background-color: #384042;
    min-height: 100%;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.Collapsible {
    display: inline;
}

.Collapsible__trigger:after {
    font-family: "FontAwesome";
    content: "\F107";
    color: #9faecb;
    transition: transform 200ms;
    float: right;
    margin-right: 0.5em;
    transform: rotate(90deg);
}

.is-open:after {
    transform: rotateZ(0deg);
}

.Collapsible__trigger,
.Collapsible a {
    text-align: center;
    line-height: 1.5em;
}


/* .Collapsible__contentInner li {
    padding-left: 0.5em;
} */


/* End Side Navigation */